[submodule "control-lora-v2"]
	path = control-lora-v2
	url = git@github.com:gasparyanartur/control-lora-v2.git
[submodule "implicit-tracking"]
	path = implicit-tracking
	url = git@github.com:gasparyanartur/implicit-tracking.git
[submodule "neurad-studio"]
	path = neurad-studio
	url = git@github.com:gasparyanartur/neurad-studio.git
