torch==2.2.0
torchvision==0.17.0
lightning
torchmetrics
transformers
accelerate
diffusers
torchmetrics[image]
open3d
opencv-python
safetensors
peft
torch-fidelity
pillow
matplotlib
scipy
pandas
tqdm
pyyaml
clip-interrogator
wandb