--extra-index-url https://download.pytorch.org/whl/cu121 
torch==2.2.0
lightning
torchvision
torchmetrics
transformers
accelerate
diffusers
torchmetrics[image]
open3d
opencv-python
safetensors
peft
torch-fidelity
pillow
matplotlib
scipy
pandas
tqdm
pyyaml
clip-interrogator
wandb